:root {
  --background-color: #121212;
  --text-on-background: #FFF;
  --text-primary: rgb(255, 255, 255, .87);
  --text-secondary: rgb(255, 255, 255, .60);
  --text-tertiaty: rgb(255, 255, 255, .38);
  --mdc-moz-scrollbar-thumb: rgb(255, 255, 255, .10);
  --mdc-scrollbar-bg: rgb(255, 255, 255, .5);
  --mdc-scrollbar-bg--hover: rgb(255, 255, 255, .10);
  --mdc-scrollbar-thumb: rgb(255, 255, 255, .10);
  --mdc-scrollbar--hover: rgb(255, 255, 255, .20);
  --mdc-scrollbar--active: rgb(255, 255, 255, .30);
  --ten-percent-layer: rgba(255, 255, 255, .10);
  --bg-popup: #2e3734;
  --main-font-family: "Komika Axis", Poppins, Roboto, Arial, sans-serif;
  --main-font-family-2: "Esparragon", Roboto, Arial, sans-serif;
  --main-font-family-3: Roboto, Arial, sans-serif;
  --mdc-elevation--z1: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  --mdc-elevation--z2: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  --mdc-elevation--z3: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
  --mdc-elevation--z4: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  --mdc-elevation--z5: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
  --mdc-elevation--z6: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  --mdc-elevation--z7: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
  --mdc-elevation--z8: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  --mdc-elevation--z9: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12);
  --mdc-elevation--z10: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
  --mdc-elevation--z11: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12);
  --mdc-elevation--z12: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);
  --mdc-elevation--z13: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
  --mdc-elevation--z14: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12);
  --mdc-elevation--z15: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12);
  --mdc-elevation--z16: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
  --mdc-elevation--z17: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12);
  --mdc-elevation--z18: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
  --mdc-elevation--z19: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12);
  --mdc-elevation--z20: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12);
  --mdc-elevation--z21: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12);
  --mdc-elevation--z22: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12);
  --mdc-elevation--z23: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12);
  --mdc-elevation--z24: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  --shadow-transition_-_transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  --mdc-standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
  --mdc-decelerated-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
  --mdc-accelerated-easing: cubic-bezier(0.4, 0.0, 1, 1);
}

body {
  background-color: var(--background-color);
  color: var(--text-on-background);
  scrollbar-color: var(--mdc-moz-scrollbar-thumb) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  border-radius: 8px;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar:hover {
  background-color: var(--mdc-scrollbar-bg--hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--mdc-scrollbar-thumb);
  border-radius: 8px;
  padding: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mdc-scrollbar--hover);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--mdc-scrollbar--active);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.high-emphasis {
  color: var(--text-primary);
}

.medium-emphasis {
  color: var(--text-secondary);
}

.low-emphasis {
  color: var(--text-tertiaty);
}

/* Encabezado */
.hero-header-container {
  z-index: 0;
  transition: 150ms translateY var(--mdc-decelerated-easing);
}

.hero-header {
  background-image:
    url("../../../assets/img/webp/fondos/bg-christmas-colony.webp"),
    url("../../../assets/img/jpg/fondos/bg-christmas-colony.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 24px 0;
}

.hero-contents {
  display: flex;
  flex-flow: column wrap;
  padding: 24px 16px;
  margin-block: 24px;
  width: 100%;
  max-width: 1920px;
}

.hero-title-container,
.hero-contents-container {
  display: flex;
}

.hero-title-container {
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--ten-percent-layer);
}

.logo-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.hero-contents-container {
  flex-direction: column;
}

.hero-title-h1 {
  font-family: var(--main-font-family);
  font-size: .75rem;
  font-weight: 500;
  text-align: center;
  margin-block-end: 1rem;
}

#logo-subtitle {
  color: #fff59d;
  font-size: .75em;
  font-weight: 500;
  margin-block-end: 1rem;
  text-shadow: 2px 2px 0px #bc5100;
}

#hero-contents-header {
  color: #80deea;
  margin-block-start: 1rem;
  text-shadow: 2px 2px 0px #00363a;
}

.hero-title-h4 {
  display: flex;
  font-family: var(--main-font-family-2);
  font-weight: 500;
  justify-content: center;
  margin-block: 1rem;
}

.hero-ul {
  align-items: center;
  display: flex;
  font-family: var(--main-font-family-2);
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero-ul-li {
  display: flex;
  font-weight: 700;
  padding: 0 16px;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  text-transform: uppercase;
}

#change-2 {
  border-left: 1px solid var(--ten-percent-layer);
  border-right: 1px solid var(--ten-percent-layer);
}

/* Cuerpo de la página */
.main-body {
  border: 30px solid transparent;
  border-radius: 0;
  border-image-slice: 30 24 30 24;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("../../../assets/img/png/otros/Popup.png");
  background-color: var(--bg-popup);
  clip-path: polygon(0 18px, 20px 0, calc(100% - 18px) 0%, 100% 16px, 100% calc(100% - 18px), calc(100% - 18px) 100%, 18px 100%, 0px calc(100% - 18px));
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-shadow: var(--mdc-elevation--z12);
  font-family: var(--main-font-family-2);
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  top: -24px;
  z-index: 1;
}

.body-h2 {
  margin-block: 0;
  margin-block-end: 4px;
  text-shadow: 2px 2px 0px #121212,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;;
}

#release-date {
  margin-block: 0;
  margin-block-end: 12px;
  font-size: .75rem;
}

.changelog-list {
  margin: 0;
  font-family: var(--main-font-family-3);
  list-style-image:
    url("../../../assets/img/webp/otros/circle.webp");
}

.changelog-list li {
  font-size: 1.15em;
  line-height: 1.25;
  margin-block-end: 8px;
}

/* Componentes */
/** Barra de progreso **/
.progress-bar {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
  z-index: 9999;
}

@keyframes progress {
  to {
    background-color: #ffc107;
    width: 100%;
  }
}

.progress-bar {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/** Grids **/
.body-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(/*auto-fit*/12, minmax(0, 1fr));
  max-width: 1920px;
}

.grid-col-1,
.grid-col-2,
.grid-col-3,
.grid-col-4,
.grid-col-5,
.grid-col-6,
.grid-col-7,
.grid-col-8,
.grid-col-9,
.grid-col-10,
.grid-col-11,
.grid-col-12 {
  width: auto;
  grid-column-end: span 12;
}

/** Etiquetas de categoría **/
.category-title {
  border: 2px solid currentColor;
  border-radius: 12px;
  display: inline-flex;
  font-size: .85rem;
  margin-block-start: 0;
  padding: 8px 12px;
  text-transform: uppercase;
}

#fixed-bugs.category-title {
  background-color: rgb(76, 175, 80, .12);
  color: #a5d6a7;
}

#optimizations.category-title {
  background-color: rgb(156, 39, 176, .12);
  color: #ce93d8;
}

#new-content.category-title {
  background-color: rgb(255, 193, 7, .12);
  color: #ffe082;
}

#coming-soon.category-title {
  background-color: rgb(244, 67, 54, .12);
  color: #ef9a9a;
}

@media only screen and (min-width: 600px) {
  .hero-header {
    padding-block: 72px;
  }

  .hero-contents {
    flex-direction: row;
    border: none;
  }
  
  .hero-title-container,
  .hero-contents-container {
    align-items: center;
    border: 0;
    flex: 1;
    justify-content: center;
  }

  .hero-ul {
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
  }

  .hero-ul-li {
    justify-content: flex-start;
    padding: 0;
  }

  .body-grid {
    gap: 24px;
  }

  #logo-subtitle {
    margin-block-end: 0;
  }

  #change-2 {
    border-left: 0;
    border-right: 0;
  }

  .body-grid {
    margin: 0 32px;
  }

  .grid-col-1,
  .grid-col-2,
  .grid-col-3,
  .grid-col-4,
  .grid-col-5,
  .grid-col-6,
  .grid-col-7,
  .grid-col-8,
  .grid-col-9,
  .grid-col-10,
  .grid-col-11,
  .grid-col-12 {
    grid-column-end: span 6;
  }
}

@media only screen and (min-width: 720px) {
  .hero-header {
    padding-block: 96px;
  }

  .hero-contents {
    padding-inline: 24px;
  }
}

@media only screen and (min-width: 840px) {
  .hero-header {
    padding-block: 120px;
  }

  .game-logo {
    width: calc((398px / 2) * 1.5);
    height: calc((94px / 2) * 1.5);
  }

  .hero-title-h1,
  #logo-subtitle {
    font-size: 1.25rem;
  }

  @supports (-webkit-text-stroke: 1px #000) {
    #logo-subtitle {
      -webkit-text-stroke: 1px #bc5100;
    }

    #hero-contents-header {
      -webkit-text-stroke: 1px #00363a;
    }
  }

  .body-grid {
    margin: 0 auto;
  }

  .grid-col-1 {
    grid-column-end: span 1;
  }

  .grid-col-2 {
    grid-column-end: span 2;
  }

  .grid-col-3 {
    grid-column-end: span 3;
  }

  .grid-col-4 {
    grid-column-end: span 4;
  }

  .grid-col-5 {
    grid-column-end: span 5;
  }

  .grid-col-6 {
    grid-column-end: span 6;
  }

  .grid-col-7 {
    grid-column-end: span 7;
  }

  .grid-col-8 {
    grid-column-end: span 8;
  }

  .grid-col-9 {
    grid-column-end: span 9;
  }

  .grid-col-10 {
    grid-column-end: span 10;
  }

  .grid-col-11 {
    grid-column-end: span 11;
  }

  .grid-col-12 {
    grid-column-end: span 12;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-header {
    padding-block: 160px;
  }

  .game-logo {
    width: 398px;
    height: 94px;
  }

  .hero-title-h1,
  #logo-subtitle {
    font-size: 1.5rem;
  }
}